body {
    background-color: rgba(117, 178, 216, 1) !important;
}

.quizcard {
    width: 35rem;
}

.quizcard-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.container {
    margin-top: 50px;
    background-color: rgba(117, 178, 216, 1) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questioncard:hover {
    background-color: lightcyan;
    cursor: pointer;
}

.correct {
    background-color: rgb(18, 201, 42);
}

.wrong {
    background-color: rgb(207, 56, 5);
}

.titlePicture {
    max-height: 200px;
    object-fit: cover;
}

.d-none {
    display: none;
}

#endscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#endscreen img {
    height: 150px;
    padding: 20px;
}
