body {
    background-color: rgba(117, 178, 216, 1) !important;
}

.quizcard {
    width: 35rem;
}

.quizcard-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.container {
    min-height: 100vh;
    background-color: rgba(117, 178, 216, 1) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questioncard:hover {
    background-color: lightcyan;
    cursor: pointer;
}

.active {
    background-color: lightcyan;
}